.button {
  background-color: white;
  padding: 0.5rem 0.8rem;
  border: 1px solid #dedede;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: antiquewhite;
}

.red {
  background-color: #ef1c09;
  color: white;
}

.red:hover {
  background-color: #c01404;
}
