.dialog {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
  border-radius: 1rem;
}

.dialog::backdrop {
  background-color: #00000040;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
