.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
